<section class="market">
  <section class="currency-container">
    <h1>Sell</h1>
    <select
      name="currency1"
      #cur1
      (change)="selectedFirstCurrency(cur1.value)"
      class="select-currency"
    >
      <option disabled selected>Choose currency</option>
      <option value="34">PLN</option>
      <option *ngFor="let item of allDatas; let i = index" [value]="i">
        {{ allDatas[i].code }}
      </option>
    </select>
    <input
      type="number"
      #cash
      (keyup)="calculate(cash.value)"
      class="input-amount"
      min="0"
      placeholder="Set a value"
    />
  </section>
  <section class="currency-container">
    <h1>Buy</h1>
    <select
      name="currency2"
      #cur2
      (change)="selectedSecondCurrency(cur2.value)"
      class="select-currency"
    >
      <option disabled selected>Choose currency</option>
      <option value="34">PLN</option>
      <option *ngFor="let item of allDatas; let i = index" [value]="i">
        {{ allDatas[i].code }}
      </option>
    </select>
    <div class="amount">
      {{ amountFixed }}
    </div>
  </section>
</section>
