@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
:root{
    --main-color: #96e6b3;
    --secondary-color: #f1fffa;
    --third-color: #ccfccb;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: var(--secondary-color);
}
